.active {
    color: #fff700;
  }
  
  .inactive {
    color: #000000;
  }

  .star-rating{
    display: flex;
    height: 50vh;
    width: 100vw;
  margin-top: 50px;
    display: flex;
    height: 20vh;
    width: 100vw;
  margin-top: 50px;
  justify-content: center;
  }